/* TOP */
.burger-top {
  margin-top: 20px;
  text-align: center;
}

.burger-top img {
  display: inline-block;
  height: 150px;
}

/* FORM */
.burger-form {
  text-align: center;
  width: 380px;
  margin: 0 auto;
  border: thin solid black;
  padding-bottom: 15px;
}

h1 {
  margin: 0px;
  font-size: 40pt;
}

h2 {
  margin: 10px;
}

/* BURGER DISPLAY */
.burger-display {
  text-align: center;
  margin-top: 30px;
}

.burger-display div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

ul {
  border: thin solid black;
  padding: 20px 10px;
  list-style-type: none;
  margin: 0px 10px;
  min-width: 330px;
  min-height: 150px;
}

li form {
  display: inline-block;
  float: right;
}

li form button {
  float: right;
}

.section-label {
  text-align: center;
  margin: 0px 10px;
  min-width: 330px;
  padding: 0px 20px;
}